/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		color: @critical;
	}
}

/* Styles */

@define-color warning 	#fabd2f;
@define-color critical	#cc241d;
@define-color purple0	#9575E2;
@define-color purple1	#3F3E69;
@define-color purple2	#62567E;
@define-color purple3 	#e1d8ef;
@define-color orange	#f29a30;

* {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	min-height: 0;
	padding: 0;
	text-shadow: none;
}

#waybar {
	background: transparent;
	color: white;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 12px;
}

#custom-icon {
	background: rgba(0,0,0,0.7);
	border-right: 1px solid @purple0;
	font-size: 14px;
	padding-left: 8px;
	padding-right: 13px; /* add 5px for fix icon */
}

/* critical module */
#cpu.critical,
#memory.critical {
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: blink-critical;
	animation-timing-function: linear;
}

/* warning module */
#custom-updates.warning,
#network.disconnected,
#memory.warning,
#cpu.warning {
	color: @warning;
}

/* workspaces */
#workspaces {
	background: rgba(0,0,0,0.7);
	color: #fff;
	padding: 0 4px;
}

#workspaces button {
	color: #fff;
}

#workspaces button:hover {
	background: transparent;
}

/* workspaces active  */
#workspaces button.visible {
	color: @orange;
	font-weight: 900;
}

#custom-updates,
#clock,
#pulseaudio,
#cpu,
#memory,
#disk,
#tray {
	background: rgba(0,0,0,0.7);
	color: @purple3;
	padding: 6px 8px;
}

#custom-updates,
#pulseaudio,
#cpu,
#tray {
	margin-left: 8px;
}

#network {
	background: rgba(0,0,0,0.7);
	color: @purple3;
	padding-right: 12px; /* add 4px for fix icon */
}