#window {
	background: rgba(0,0,0,0.5);
	font-size: 14px;
	font-family: 'JetBrainsMono Nerd Font', monospace;
}

#outer-box {
	margin: 3px;
}

#input {
	border: 1px solid #62567E;
	border-radius: 0;
	background-color: transparent;
	color: white;
	margin-bottom: 3px;
}

#input image:first-child {
	margin-left: -100px;
}

#input image:last-child {
	margin-right: -100px;
}

#input:focus {
	border: 1px solid #9575E2;
	border-radius: 0;
	box-shadow: none;
}

#entry {
	color: white;
}

#entry:selected {
	background-color: #62567E;
}

#text:selected {
	color: #f29a30;
}

#img {
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#text {
	margin-left: 3px;
}